<h1>Editing Report</h1>
<%= form_for @report do |f| %>


  <% if @report.errors.any? %>
    <div id="error_explaination">
      <h2>
        <%= pluralize(@report.errors.count, "problems")%>
        prohibited this report from being saved:
      </h2>
      <ul>
        <% @report.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4 form-group">
  		<%= f.label :Error_Title %><br>
  		<%= f.text_field :name, class: "form-control" %>
  	</div>
  </div>

  <div class="row">
  	<div class="form-group col-md-4">
  		<%= f.label :Error_category %><br>
      <%= f.select :category, ['Web UI', 'Web Function',
        'Android App','Seller','Logistics','Other Issues']%>
  	</div>
  </div>

    <div class="row">
  	<div class="form-group col-md-4">
  		<%= f.label :description %><br>
  		<%= f.text_area :description , class: "form-control"%>
  	</div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
  		<%= f.label :Reported_by %><br>
      <%= f.select :reporter_name, ['May Thu Khine', 'Win Win Htun', 'Zaw Lin Htet',
        'Ye Htut Aung','Thandar Phoo Ngone','Thandar Oo','Aung Myint Zaw','Aye Win','Zay Yar Lin Htet']%>
  	</div>
 </div>

    <br>
    <div class="row">
      <div class="col-md-1">
      	<div class="actions">
      		<%= f.submit 'Update', class: 'btn btn-success'%>
      	</div>
    </div>
     <div class="col-md-1">
       <%= link_to 'Back', reports_path, class: 'btn btn-secondary'%>

     </div>
  </div>


<% end %>
