<p id="notice">
  <%= flash[:notice] %>
</p>

<h1>List of Error Reports</h1>
<%= form_tag(search_reports_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search by Error Name" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Reporter</th>
      <th>Created_at</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <% x = 0 %>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= x += 1 %></td>
        <td><%= report.name %></td>
        <td><%= report.category %></td>
        <td><%= truncate(report.description, length: 20) %></td>
        <td><%= report.reporter_name %></td>
        <td><%= report.created_at.strftime("%F") %></td>
        <td><%= link_to 'Show', report_path(report.id),  { :class=>"btn btn-success" }%>
        <%= link_to 'Edit', edit_report_path(report.id), { :class=>"btn btn-info" }%></td>
      </tr>
    <% end %>
  </tbody>
</table>
